<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>员工信息</title>
</head>
<body>

<table border="1" cellpadding="0" cellspacing="0" style="text-align:center;" id="dataTable">
    <tr>
        <th colspan="5">Employee Info</th>
    </tr>
    <tr>
        <th>id</th>
        <th>lastName</th>
        <th>email</th>
        <th>gender</th>
        <th>options(<a th:href="@{/toAdd}">add</a>)</th>
    </tr>
    <tr th:each="employee : ${employeeList}">
        <td th:text="${employee.id}"></td>
        <td th:text="${employee.lastName}"></td>
        <td th:text="${employee.email}"></td>
        <td th:text="${employee.gender}"></td>
        <td>
            <a class="deleteA"  th:href="@{/employee/} + ${employee.id}">delete</a>
<!--            <a class="deleteA" th:href="@{'/employee/' + ${employee.id}}">delete</a>-->
            <!-- 为了更好的用户体验，修改功能是先使用控制器方法获取employee对象，然后跳转到修改页面（回显employee对象的信息），然后调用修改的控制器进行修改-->
            <a th:href="@{'/employee/' + ${employee.id}}">update</a>
        </td>
    </tr>

    <!-- 表单作用：通过超链接控制表单的提交，将post请求转换为delete请求 -->
    <form id="delete_form" method="post">
        <!-- HiddenHttpMethodFilter要求：必须传输_method请求参数，并且值为最终的请求方式 -->
        <input type="hidden" name="_method" value="delete"/>
    </form>

    <script type="text/javascript">
        // 通过a标签控制表单提交
        var deleteA = document.querySelector(".deleteA");
        var delete_form = document.querySelector("#delete_form");
        deleteA.addEventListener("click",function (e){
            // 一定要组织a标签的自动跳转
            e.preventDefault();
            // 将触发事件的超链接的href属性为表单的action属性赋值 !!!!!
            delete_form.action = e.target.href;
            delete_form.submit();
        })
    </script>

</table>


</body>
</html>